body {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  color: #666;
  width: 100%;
  margin: 0;
  padding: 0;
}
#page { width: 90%; margin: 0 auto; max-width: 1240px; }
h1,h2,h3,h4,h5,h6 {
  font-family: 'Pacifico', serif;
  font-weight: 400;
  color: #009252;
}
h1 {
  font-size: 3em;
  line-height: 1.3;
  text-align: left;
}
h1 em {
  font-size: 1.5em;
  font-style: normal;
  color: #000;
}
a, img {
    border-width: 0;
}
header,
section {
  width: 100%;
  margin: 0 auto;
}
ul.list {
  list-style: none inside none;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.list li {
  /*display: block;
  float: left;*/
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 166px;
  height: 220px;
  text-align: center;
  margin: 0 10px 10px;
  padding: 0;
}
.item-container {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    word-wrap: break-word;
}
.pagination { clear: both; }

.indicator {
    background: transparent url(../images/indicator.gif) center center no-repeat;
}
.page-separator {
    clear: both;
    border-top: 1.5em solid #eee;
}
.page-separator h2 {
    display: inline-block;
}
.page-separator a {
       display: inline-block;
       float: right; 
       margin: 10px 10px 10px 0;
}
#footer {
    clear: both;
    background-color: #333;
    color: #eee;
    padding: 1em 1.5em;
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #eee;
    padding: 1em 1.5em;
    text-align: right;
}

/* Fine Box specific */
.finebox-processed {
    cursor: url(../images/zoomin.cur), url(images/zoomin.cur), default;
/*    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;*/
}
.finebox-processed img {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition-duration: 300ms, 300ms;
    transition-property: box-shadow, border-radius;
    transition-timing-function: ease-out, ease-out;
    -moz-transition-duration: 300ms, 300ms;
    -moz-transition-property: -moz-box-shadow, -moz-border-radius;
    -moz-transition-timing-function: ease-out, ease-out;
    -o-transition-duration: 300ms, 300ms;
    -o-transition-property: -o-box-shadow, -o-border-radius;
    -o-transition-timing-function: ease-out, ease-out;
    -webkit-transition-duration: 300ms, 300ms;
    -webkit-transition-property: -webkit-box-shadow, -webkit-border-radius;
    -webkit-transition-timing-function: ease-out, ease-out;
}
.finebox-processed.hover img {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    -o-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
}
#finebox-overlay { 
    background: #000 url(../images/bg-overlay.png);
}
#finebox-wrapper {
    cursor: url(../images/zoomout.cur), url(images/zoomout.cur), default;
/*    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;*/
}
#finebox-container {
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    -o-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    transition-duration: 300ms, 300ms;
    transition-property: box-shadow, border-radius;
    transition-timing-function: ease-out, ease-out;
    -moz-transition-duration: 300ms, 300ms;
    -moz-transition-property: -moz-box-shadow, -moz-border-radius;
    -moz-transition-timing-function: ease-out, ease-out;
    -webkit-transition-duration: 300ms, 300ms;
    -webkit-transition-property: -webkit-box-shadow, -webkit-border-radius;
    -webkit-transition-timing-function: ease-out, ease-out;
}
#finebox-target {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
#finebox-container.opened {
    background-color: #000;
    color: #eee;
}
.finebox-message {}
.finebox-message span {
    line-height: 1.3em;
    padding: .5em 1em;
    background: #99cc33;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    -o-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    transition-duration: 300ms, 300ms;
    transition-property: box-shadow, border-radius;
    transition-timing-function: ease-out, ease-out;
    -moz-transition-duration: 300ms, 300ms;
    -moz-transition-property: -moz-box-shadow, -moz-border-radius;
    -moz-transition-timing-function: ease-out, ease-out;
    -o-transition-duration: 300ms, 300ms;
    -o-transition-property: -o-box-shadow, -o-border-radius;
    -o-transition-timing-function: ease-out, ease-out;
    -webkit-transition-duration: 300ms, 300ms;
    -webkit-transition-property: -webkit-box-shadow, -webkit-border-radius;
    -webkit-transition-timing-function: ease-out, ease-out;
}
.finebox-message span.finebox-error {
    background: #ff6633;
    color: #fff;
}
.finebox-infos {
    background-color: #000;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1em 1.5em;
}
.finebox-infos + .finebox-infos-inner {
    padding: 0;
}
.finebox-data {
    display: none;
}
.pager {
  display: block;
  margin: 0 0 1.375em;
  padding: 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
  font-family: "HelveticaNeue-Condensed", "Helvetica Neue Condensed", Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.375em;
  line-height: 1;
  text-transform: uppercase;
}

.pager a {
  display: inline-block;
  padding: 0.6875em 0.84979620341958em;
  color: #555555;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f8f8f8;
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  border: 1px solid #ffffff;
  border-left-width: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.pager a:hover {
  color: #333333;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
  background-repeat: repeat-x;
}

.pager .next a {
  float: right;
}

.pager .previous a {
  float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: #fff;
}

/**
 * utilities
 * @url http://sonspring.com/journal/clearing-floats 
 * @url http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
 */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.invisible {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(1px, 1px, 1px, 1px);
  text-indent: -5000px;
}